* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box-styling {
    background-color: #9ACD32;
    padding: 20px;
}

#main-content {
    display: grid;
    grid-area: header;
    grid-template-columns: ;
    grid-template-rows: ;
    height: 100vh;
    grid-gap: 10px;
}

#main-header {
    grid-area: ;
}

#main-nav {
    grid-area: ;
}

#main-article {
    grid-area: ;
}

#main-ads {
    grid-area: ;
}

#main-footer {
    grid-area: ;
}