* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box-styling {
    background-color: #FFD700;
}

#main-content {
    display: grid;
    grid-area: header;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 80px 1fr 15%;
    height: 100vh;
    grid-gap: 10px;
}

#main-header {
    grid-area: 1 / 1 / 2 / -1;
}

#main-nav {
    grid-area: 2 / 1 / -1 / 2;
}

#main-article {
    grid-area: 2 / 2 / 3 / 3;
}

#main-ads {
    grid-area: 2 / 3 / 3 / -1;
}

#main-footer {
    grid-area: 3 / 2 / -1 / -1;
}