* {

}

body {
    margin: 10px;
}

.jumbotron {
    background-image: url("../img/pizza.png");
}
.jumbotron > .container {
    margin: 0;
    max-width: 100%;
    background-color: white;
    opacity: 0.7;
}

.jumbotron h1 {
    width: 100%;
}

/* Removes dropdown arrow */
.dropdown-toggle::after {
    display:none;
}

