* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}
a {
    display: inline-block;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

#nav-logo-text a {
    font-family: 'Montserrat', sans-serif;
}

ul.nav-list-style {
    margin: 0;
    padding: 5px;
}

a:link {
    color: black;
}

a:hover {
    color: blue;
}

.nav-list-style {
    list-style: none;
}

.left-nav-list {
    display: flex;
}

.right-nav-list {
    display: flex;
}

#top-nav-container {
    width: 100%;
    background-color: #C1C1C1;
    z-index: 1000;

    position: relative;
    display: flex;
    align-items: center;
}

#left-nav-section {
    display: flex;
    margin-right: auto;
}

#right-nav-section {
    display: flex;
    margin-left: auto;
}

#company-logo-section {
}

#nav-logo-text {
    font-size: 3em;
    padding: .2em 0;
    position: absolute;
    top: -29px;
    right: calc(50% - 70px);

}