* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #76BDE7;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
}

.arcade-machine-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arcade-machine-container > img {
    position: absolute;
    width: 375px;
    height: 30em;
    background-size: cover;
    top: 5em;
}

.tv-screen {
    position: relative;
    top: 7.7em;
    margin-bottom: 9.2em;
    margin-right: 2.85em;
    width: 7.05em;
    height: 5.1em;
    border: 2px solid yellow;
    border-radius: 8px;
    background-color: rgb(250,128,114,0.5);
}

.controller-container {
    position: absolute;
    width: calc(100% - 1em);
    display: flex;
    align-items: center;
    margin: 0 5px;
    height: 10em;
    background-color: #CBC4BB;
    border: .5em solid grey;
    border-radius: 10px;
    right: 0;
    top:36em;
}

.controller {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    width: calc(100% - 1em);
    height: 7.4em;
    background-color: #2E303D;
    border-radius: 4px;

}

/* ===== CONTROLS CONTAINER ===== */
.controls {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ===== ^ ===== */
.dpad {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.key-up-down-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #C9C2BD;
    width: 6.4em;
    height: 2em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari prior 9.0 */
    transform: rotate(90deg); /* Standard syntax */
}

.key-right-left-container {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #C9C2BD;
    width: 6.4em;
    height: 2em;
}

/* ----- INDIVIDUAL ARROW KEYS ----- */
.key-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 1.8em;
}

.up-key {
    width: 24px;
    height: 0;
    margin-right: auto;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid black;
}

.key-right-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 1.8em;
    width: 1.8em;
}

.right-key {
    width: 24px;
    height: 0;
    margin-left: auto;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid black;
}

.key-left-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 1.8em;
    width: 1.8em;
}

.left-key {
    width: 24px;
    height: 0;
    margin-right: auto;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid black;
}

.key-down-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 1.8em;
    width: 1.8em;
}

.down-key {
    width: 24px;
    height: 0;
    margin-left: auto;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid black;
}

/* ===== CENTER CONTROLLER AREA ===== */
.button-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
}

/* ----- BUTTON STYLING ----- */

/* Select all button items */
.button-item {
    /*border: 1px solid red;*/
    border-radius: 2px;
}

/* Select all button-items EXCEPT the fourth */
.button-list li:not(:nth-child(4)) {
    height: 1em;
    background-color: #919588;
}

/* Select the fourth button-item */
.button-list li:nth-child(4) {
    height: 2em;
    background-color: #CBC4BB;
}

/* ----- BUTTON SPACING ----- */
.button-list li:first-child {
    margin-bottom: auto;
}

.button-list li:last-child {
    margin-top: auto;
}

.button-list li:nth-child(n+2):not(:last-child) {
    margin: 3px 0;
}

/* ----- MAIN CENTER BUTTONS TITLES ----- */
/* MAIN CENTER BUTTONS CONTAINER */
.button-list li:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list li:nth-child(3) span {
    font-size: 7px;
    color: red;
}

/* SELECT BUTTON TITLE */
.button-list li:nth-child(3) span:first-child {
    margin-left: 1em;
    margin-right: auto;
}

/* START BUTTON TITLE */
.button-list li:nth-child(3) span:last-child {
    margin-right: 1.5em;
    margin-left: auto;
}

/* ----- MAIN CENTER BUTTONS ----- */
/*TODO: add a border around a div encapsulating the two main center buttons (need to create div) */

.button-list li:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list li:nth-child(4) div {
    height: .5em;
    width: 2em;
    background-color: black;
    border-radius: 5px;
    margin: 0 10px;
}

/* ===== CONTROLLER RIGHT SECTION ===== */
.controller-right-container {
    display: flex;
    flex-direction: column;
}

.buttons-ab-container {
    display: flex;
    margin: auto 1.2em 1px;
}

.button-a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: #CAC4BB;
    border-radius: 2px;
}

.button-a {
    width: 1.7em;
    height: 1.7em;
    background-color: red;
    border-radius: 50%;
}

.button-b-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 2em;
    height: 2em;
    background-color: #CAC4BB;
    border-radius: 2px;
}

.button-b {
    width: 1.7em;
    height: 1.7em;
    background-color: red;
    border-radius: 50%;
}

/* ----- AB-BUTTONS-TEXT -----*/
.buttons-ab-text-container {
    display: flex;
    align-items: center;
    margin: 0 1.2em;
}

.button-a-text-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 2em;
    border-radius: 2px;
}

.button-a-text {
    font-size: 8px;
    color: red;
}

.button-b-text-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 2em;
    margin-left: auto;
    border-radius: 2px;
}

.button-b-text {
    font-size: 8px;
    color: red;
}

/* ----- CONTROLLER COMPANY NAME -----*/

.company-name-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
}

.company-name-text {
    font-size: 9px;
    color: red;
}

@media screen and (min-width:500px) {
    .controller-container {
        width: 375px;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 33em;
    }
}