body {
    text-align: center;
}

main div {
    border: 1px solid black;
}


main {
    display: inline-grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: lightgreen;
}

#box-1 {
    grid-column: 1 / span 3;
    grid-row: 1 / 3;

}

#box-2 {

}

#box-3 {

}

#box-4 {

}

#box-5 {

}

#box-6 {

}

#box-7 {

}

#box-8 {

}

#box-9 {

}