body {
    text-align: center;
}

main div {
    border: 1px solid black;
}


main {
    display: inline-grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color: lightgreen;
}

#box-1 {
    background-color: #314679;
    grid-area: 1 / 1 / span 2 / span 2;
}

#box-2 {
    background-color: #DA202A;
}

#box-3 {
    background-color: #FBCA31;
}

#box-4 {
    background-color: #FFFFFF;
}

#box-5 {
    background-color: #FFFFFF;
}

#box-6 {
    background-color: #FFFFFF;
}

#box-7 {
    background-color: #FBCA31;
}

#box-8 {
    background-color: #DA202A;
}

#box-9 {
    background-color: #314679;
}