* {
    box-sizing: border-box;
}

body {
    /*background-color: #FFFFFF;*/
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.header-style {
    height: 40px;
    background-color: #323232;
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-left: 9px;
    width: 17px;
}

.nav-icon:before,
.nav-icon div {
    background-color: #FFFFFF;
    border-radius: .5px;
    content: '';
    display: block;
    height: 1px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

