* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    /*background-color: lightblue;*/
    padding: 0;
    margin: 0;
}

/* === HEADER CONTAINER === */
.header-style {
    height: 48px;
    /*background-color: #323232;*/
    background-color: rgba(45, 45, 45, 0.98);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* === NAV LIST === */
.nav-list {
    list-style: none;
    height: 48px;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* === NAV MENU ICON === */
.menu-icon {
    position: absolute;
    height: 48px;
    width: 48px;
    z-index: 2;
    border: 1px solid red;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-container {
    position: absolute;
    z-index: 3;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.menu-icon-bread-crust {
    display: block;
    position: absolute;
    width: 17px;
    height: 1px;
    border-radius: 0.5px;
    background: #ffffff;
    z-index: 1;
}

.menu-icon-bread-top {
    top: 10px;
}

.menu-icon-bread-bottom {
    bottom: 10px;
}

/*.menu-icon-bread-crust-top {*/
/*    top: 14px;*/
/*    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;*/
/*}*/

/*.menu-icon-bread-crust-bottom {*/
/*    bottom: 14px;*/
/*    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;*/
/*}*/

/* --- NAV LOGO --- */
#nav-logo-list-item {
    position: absolute;
}

#nav-logo {
    height: 40px;
    width: 18px;
}
