:root {
    --card-color: #6499be;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* ==== MAIN CONTAINER ==== */
.main-container {
    display: grid;
    grid-template-columns: 5px 2fr 2fr 5px;
    height: auto;
    align-items: center;
}

/* ==== DAILY FORECAST CONTAINER ==== */
.daily-forecast-container {
    grid-area: 1 / 2 / 2 / 4;
    /* --- set horizontal scrolling --- */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* --- */
    margin: 5px 0;
}

/* --- remove scroll bar display ONLY for forecast-container --- */
.daily-forecast-container::-webkit-scrollbar {
    display: none;
}

/* ==== DAILY WEATHER CARDS ==== */
.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* --- horizontal scrolling setting --- */
    flex: 0 0 auto;
    /* --- */
    width: 9.3em;
    height: 15em;
    border-radius: 5px;
    margin-right: 12px;
}

.card-border {
    border: 1px solid black;
}

.card-color {
    background-color: var(--card-color);
}

/* ==== WEATHER IMAGE ==== */
.weather-image {
    width: 3em;
    height: 3em;
}

/* ==== WEATHER INFO ELEMENTS ==== */
.weather-info {
    margin: 8px;
    font-size: 12px;
}
.weather-info:nth-child(4) {
    /*overflow-y: scroll;*/
    /*height: 51px;*/
}


/* ==== WEATHER PROPERTY ==== */
.weather-property {
    font-weight: bold;
}

/* ==== HIGH/LOW PROPERTY ==== */
.high-low-property {

}

/* ==== FORECAST BUTTON ==== */
.forecast-button {
    height: 2em;
    width: auto;
    border: 1px solid red;
    border-radius: 5px;
    display: block;
    margin: 5px 0 0 auto;
    background-color: skyblue;
}
.forecast-button:focus {outline:0;}

.forecast-button-style {
    background-color: cadetblue;
    color: gold;
}

/* ==== MAP ===== */

.map {
    width: 100vw;
    height: 20em;
    border-radius: 1em;
    border: 5px outset lightblue;
}